body {
    font-family: Arial, Helvetica, sans-serif;
}

.bg-soft-red {
  background-color: #FFFBF7;
}

.header-big {
    font-family: Caprasimo;
    margin-top: 3rem;
}

.intro-subtitle {
  font-family: Caprasimo !important;
  color: #FB8500 !important;
  font-size: 1.25rem !important;
}

.small-text {
    font-family: Arial, Helvetica, sans-serif;
}

.header-color {
    background-color: #442918;
    color: #FAF6EB;
}

.footer {
    background-color: #442918;
    color: #FAF6EB;
}

:root {
  --main-font: 'Inter', sans-serif;
  --main-color: #ff6600;
  --soft-color: #FFE3C7;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.bg-soft-red {
  background-color: oklch(98% 0.016 73.684);
}

.card {
  background-color: var(--soft-color);
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: 600;
  color: black;
}

.card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  font-weight: 400;;
  color: black;
}

.intro-rectangle {
  position: absolute;
  top: 0px;           /* Abstand von oben */
  left: 0px;
  width: 100%;          /* oder z.B. 1000px */
  height: 50%;       /* Höhe des Rechtecks */
  background: #442918; /* Wunschfarbe */
  z-index: 0;
}
#intro {
  position: relative;
  min-height: 50%;
}
#intro h1,
#intro p {
  position: relative;
  z-index: 1;
  color: #FAF6EB
}

#intro p.intro-desc {
  color: #404040; /* Wunschfarbe */
}